.floatingBanner {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia del fondo */
  left: 20px; /* Ajusta la distancia de la derecha */
  background-color: #fa0101; /* #4caf50; Color de fondo */
  color: #fff; /* Color del texto */
  padding: 15px 20px; /* Espaciado */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 1000; /* Asegúrate de que esté en la parte superior */
  display: flex;
  justify-content: space-between; /* Espacio entre el texto y el botón */
  align-items: center; /* Centrar verticalmente */
}

.closeButton {
  background: transparent; /* Botón transparente */
  border: none; /* Sin borde */
  color: #fff; /* Color del texto */
  cursor: pointer; /* Cursor de puntero */
  font-size: 16px; /* Tamaño de la fuente */
  text-transform: capitalize;
  font-weight: 600;
}
