.modal-overlay {
  position: fixed; /* Posicionamiento fijo en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fondo ligeramente más oscuro para mayor foco en el modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Z-index muy alto para estar sobre otros elementos */
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80vw;
  width: auto; /* Ancho automático según el contenido, pero puede definirse un max-width */
  z-index: 10001; /* Asegurar que el contenido esté por encima del overlay */
}

.close-button {
  position: absolute;
  right: 7vw;
  top: 0vw;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.btnClose {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.btnClose:after,
.btnClose:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: #fff;
  border-radius: 5px;
}

.btnClose:after {
  transform: rotate(45deg);
  top: 50%;
  margin-top: -1px; /* Centrar verticalmente */
}

.btnClose:before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px; /* Centrar verticalmente */
}

@media (orientation: landscape) {
  .btnClose {
    top: 0;
    right: -45px;
  }
}
