<div
  class="modal-video"
  tabindex="-1"
  role="dialog"
  area-modal="true"
  aria-label="You just opened the modal video"
>
  <div class="modal-video-body">
    <div class="modal-video-inner" style="width: 100%">
      <div class="modal-video-movie-wrap" style="padding-bottom: 56.25%">
        <iframe
          width="460"
          height="230"
          src="//www.youtube.com/embed/U5htblOxNHQ?autoplay=1&amp;cc_load_policy=1&amp;controls=1&amp;disablekb=0&amp;enablejsapi=0&amp;fs=1&amp;iv_load_policy=1&amp;loop=0&amp;rel=0&amp;showinfo=1&amp;start=0&amp;wmode=transparent&amp;theme=dark&amp;mute=0"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
          tabindex="-1"
        ></iframe
        ><button
          class="modal-video-close-btn"
          aria-label="Close the modal by clicking here"
        ></button>
      </div>
    </div>
  </div>
</div>
